{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <!-- div class="container">
        <span>
            {% if request.path == '/mobiles/' or request.path == '/mcheapest/' or request.path == '/mexpensive/' or request.path == '/mavailable/' %}
                Sort:
                <a style="text-decoration: None; color:black" href="{% url 'store_app:mobile-available-view' %}">Available |</a>
                <a style="text-decoration: None; color:black" href="{% url 'store_app:mobile-cheapest-view' %}">cheapest |</a>
                <a style="text-decoration: None; color:black" href="{% url 'store_app:mobile-expensive-view' %}">Most expensive</a>

            {% elif request.path == '/laptops/' or request.path == '/cheapest/' or request.path == '/expensive/' or request.path == '/available/' %}
                Sort:
                <a style="text-decoration: None; color:black" href="{% url 'store_app:available-view' %}">Available |</a>
                <a style="text-decoration: None; color:black" href="{% url 'store_app:cheapest-view' %}">cheapest |</a>
                <a style="text-decoration: None; color:black" href="{% url 'store_app:expensive-view' %}">Most expensive</a></span>




            {% endif %}
        </span>
        <hr>
    </div -->
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card text-center h-100">
                <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>{{product.title}}</h5>
                    {% if product.available %}
                        <p>price: {{product.price|intcomma }} $</p>
                    {% else %}
                        <p style="color:red"> Not available </p>
                    {% endif %}
                    <a href="{% url 'store_app:detail-view' product.id %}" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
    <div class="container">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
              <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"  aria-disabled="true">Previous</a>
            </li>
            {% for page in page_obj.paginator.page_range %}
              <li class="{% if page_obj.number == page %} active {% endif %}page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
              <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">Next</a>
            </li>

          </ul>
        </nav>
    </div>
    {% endif %}

{% endblock %}
